.item-swiper {
    width: 100% !important
}

.item {
    position: relative;
    width: 23%;
    margin-bottom: 40px;

    .link {
        color: black;
        &.imgbx {
            width: 100%;
            display: block;
            overflow: hidden;

            img {
                width: 100%;
                transition: 0.5s;
            }
        }
    }

    .text {
        h3 {
            margin: 0;
            font-size: 18px;
        }

        .price {
            margin: 8px 0;
            span {
                font-size: 15px;
                color: rebeccapurple;
            }
        }
    }
    /* item icons */
    .item-icons {
        position: absolute;
        right: 0;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
        &.compare-btn {
            top: 30px;
            .icon-name {
                width: 145px;
            }
        }
        &.wishlist-btn {
            top: 72px;
            .icon-name {
                width: 131px ;
            }
        }

        .icon-btn {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
        }

        .icon-name {
            $heightVal: 30px;
            $borderVal: 7px;
            $topVal: ($heightVal - 2 * $borderVal) / 2;
            $rightVal: - (2 * $borderVal);
            position: absolute;
            top: 0;
            right: 5px;
            height: $heightVal;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
            font-size: 14px;
            background: #f8f8f8;
            box-shadow: #63636333 0 2px 8px;
            z-index: 1;
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
            transition: 0.7s;

            &:before {
                content: "";
                position: absolute;
                top: $topVal;
                right: $rightVal;
                border-left: $borderVal solid #f8f8f8;
                border-right: $borderVal solid transparent;
                border-top: $borderVal solid transparent;
                border-bottom: $borderVal solid transparent;
            }
        }

        

        &:hover .icon-name {
            right: 42px;
            visibility: visible;
            opacity: 1;
            margin-right: 0;
        }

        

        
    }

    &:hover .item-icons {
        right: 20px;
        visibility: visible;
        opacity: 1;
    }

    &:hover .imgbx img {
        transform: scale(1.1);
    }

    /* MAIN BTN */
    .main-btn {
        position: absolute;
        bottom: 100px;
        left: 7.5%;
        width: 85%;
        opacity: 0;
        transition: 0.5s;
        margin: 0 auto;

        .special-btn {
            width: 100%;
            padding: 8px;
            border: none;
        }
    }

    &:hover .main-btn {
        opacity: 1;
        bottom: 140px;
    }
}

/* list view item */




/***********************/
.item,
.item-list-view {
    .item-icons {
        .icon-btn {
            $val: 35px;
            width: $val;
            height: $val;
            font-size: 16px;
            border: none;
            padding: 0;
            background: #0f172a;
            color: #fff;
            border-radius: 50%;
            box-shadow: #63636333 0 2px 8px;
            transition: 0.5s;
            &.link {display: flex !important;}
        }
        &:hover .icon-btn {
            background: #f8f8f8;
            color: #0f172a;
        }
    }
    

    
}


.item,
.item-list-view,
.new-arrivals-view,
.search-view {
    .price span {
        font-size: 15px;
        &.new-price {
            color: rebeccapurple;
        }
        &.old-price {
            text-decoration: line-through;
            margin-left: 20px;
            color: #888;
        }
    }
}

/* description */
.description:not(.item-list-view .description) {display: none;}

/********/
.item-colors {
    display: flex;
    margin-left: 1px;
  }

  .item-color {
    margin-right: 10px;
  }

  .item-color button.color-btn {
    display: block;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: 0.5s;
  }

  .item-color button.color-btn:focus {
    border: 2px solid transparent;
  }

  .color-btn.active {
    border: 2px solid transparent !important;
}