body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins';
}

/* nav height = inner padding*/
$navHeight: 90px;
.navbar {
    height: $navHeight;
}

.App .inner {
    padding-top: $navHeight
}


/* constants */
.container {
  width: 94%;
  margin: 0 auto;
}

h1 {
  margin-top: 0;
}

hr {
  border: none;
  border-bottom: 1px solid #f5e8e8;
}

/* flex elements */
.flx, .flx-c {
  display: flex;
  flex-wrap: wrap;
}

.flx {
  justify-content: space-between;
}

.flx-c {
  justify-content: center;
  align-items: center;
}

/****/
.link {
  display: block;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
}

/* table */
table {
  width: 100%;
  background: beige;

  th, td {
      text-align: center;
  }

  th {
      background: beige;
      padding: 7px 0;
  }
  td {
      background: #f8f8f8;
      &:first-of-type {
          width: 75px;
          img {
              width: 100%;
          }
      }

      input {
          width: 40px;
      }

      
  }
}

/* load */
.load {
  animation: load 1s linear infinite;
}

.load:not(.special-btn .load) {
  font-size: 16px;
}

/* special-btn */
.special-btn {
  $radiusVal: 6px;
  
  position: relative;
  background: rgb(15, 3, 44);
  height: 40px;
  color: #fff;
  font-size: 16px;
  border-radius: $radiusVal;
  &.link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.disabled {
    background: #0f172ab0;
    cursor: not-allowed;
  }

  &::before {
    $direction: 4px;

    position: absolute;
    content: "";
    display: block;
    top: $direction;
    left: $direction;
    bottom: $direction;
    right: $direction;
    border: 2px solid transparent;
    border-radius: $radiusVal/2;
    transition: 0.5s;
  }
  &:hover::before {
    border: 2px solid #fff;
  }

  .load {
    font-size: 20px;
  }
}

/* input number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* image wave and div gradient */
img.wave {
  position: absolute;
  left: 0;
  width: 100%;
}

div.gradient {
  position: absolute;
  left: 0;
  width: 100%;
  height: 120px;
}

div.gradient:not(.footer .gradient) {
  bottom: 0;
}

/* animation keyframes */
@keyframes load {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}